<mat-dialog-content class="contendor">

    <div class="card mr-1">

        <div class="card-header colorApp">
            <h2 class=" card-title mb-0"> Actualizar Stock </h2>
            <button type="button" class="close" mat-dialog-close>&times;</button>
        </div>


        <form autocomplete="off" [formGroup]="f" (ngSubmit)="guardar()" class="example-form">

            <div class="card-body">

                <ng-container *ngIf="!loadData">

                    <div class="form-group">

                        <div class="row mb-4">

                            <div class="col-12 col-lg-6 input-group mx-2 pr-0">
                                <!--  check de transferencia -->
                                <mat-label> Código : {{codigo }}    </mat-label>
                            </div>

                            <div class="col-12 col-lg-6 input-group mx-2 pr-0">
                                <!--  Stock  -->
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label for="InputStock">Stock</mat-label>
                                    <input matInput type="number" id=" InputStock" class="form-control"
                                        placeholder="Stock" formControlName="stock" min="1" max="99"
                                        [ngClass]="{'is-invalid':formSubmitted}">
                                    <mat-icon matSuffix>view_module</mat-icon>
                                    <mat-error *ngIf="  stock?.errors?.['required']">Escriba el
                                        Stock</mat-error>
                                    <mat-error *ngIf="stock?.hasError('min')">Mayor a 1</mat-error>
                                    <mat-error *ngIf="stock?.hasError('max')">Máximo 99</mat-error>
                                </mat-form-field>
                            </div>

                            <div *ngIf="checkboxControl.value" class="col-12 col-lg-6 input-group mx-0 pr-0">
                                <!--  Almacén -->
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Origen de Transferencia</mat-label>
                                    <mat-select formControlName="almacenIdTransferencia" [ngClass]="{'is-invalid':formSubmitted}">
                                        <mat-option *ngFor="let alm of almacenes"
                                            [value]="alm.almId">{{alm.almNombre}}</mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>store_mall_directory</mat-icon>
                                    <mat-error *ngIf="almacenIdTransferencia?.errors?.['required']">Seleccione un almacén</mat-error>
                                    <mat-error *ngIf="almacenIdTransferencia?.errors?.['pattern']">Solo número y letras</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-lg-6 input-group mx-0 pr-0">
                                <!--  check de transferencia -->
                                <mat-checkbox [formControl]="checkboxControl">Transferencia</mat-checkbox>
                            </div>


                        </div>

                    </div>

                </ng-container>


                <div *ngIf="loadData" class="overlay">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>

                <div class="card-footer cardButon">
                    <button mat-dialog-close class="btn btn-danger  "> Cerrar </button> |
                    <button type="submit" class="btn colorApp "> Guardar </button>
                </div>

            </div>

        </form>

    </div>

</mat-dialog-content>
