<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid ">
            <div class="container mt-4 ">
                <div class="card border border-primary">
                    <div class="card-body text-center texto">
                <img src="../../../../assets/img/bienvenido.png" width="70%" >
                        <h1>{{ horaActual }}</h1>
                        <h2 class="mt-3">{{ fechaActual | date:'dd/MM/yyyy' }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>