

<div class="hold-transition login-page">
    <div class="login-box">
        <img src="../../../assets/img/templates/logoCompleto.png"  class="img-fluid image">
    </div>
    <div class="login-box">

        <!-- /.login-logo -->
        <div class="card ">
            <div *ngIf="loadData" class="card-body login-card-body loginCard">
                <h1 class="login-box-msg">Inicio</h1>

                <form 
                autocomplete="off"
                [formGroup]="f"
                (ngSubmit)="login()"
                >
                    <div class="input-group mb-3">
                        <input type="email" 
                        class="form-control" 
                        placeholder="Usuario" 
                        formControlName="email"
                        [ngClass]="{'is-invalid':invalidField('email')}">

                        <div class="input-group-append bg-white">
                            <div class="input-group-text">
                                <span class="fas fa-envelope "  ></span>
                            </div>
                        </div>
                        <div class="invalid-feedback " style="color: white;">Llene este campo correctamente.</div>

                    </div>

                    <div class="input-group mb-3">
                        <input
                          [type]="showPasswordField() ? 'text' : 'password'"
                          class="form-control"
                          placeholder="Contraseña"
                          formControlName="password"
                          [ngClass]="{'is-invalid': invalidField('password')}"
                        />
                        <div class="input-group-append bg-white">

                          <div class="input-group-text" (click)="toggleShowPassword()">
                            <span class="fas" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></span>
                          </div>
                        </div>
                        <div class="invalid-feedback" style="color: white;">Llene este campo correctamente.</div>
                      </div>
                      
                      

                    <div class="row">

                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn  btn-block  " style="background-color: rgb(214, 9, 9); color: white;" >Iniciar Sesión</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

            </div>

            
            <!-- /.login-card-body -->
        </div>

        <div *ngIf="!loadData" class="text-center m-5 text-muted">
            <div class="spinner-border "> *</div>
        </div>


    </div>
    <!-- /.login-box -->

</div>