

<div class="hold-transition login-page">
    <div class="login-logo" style="width: 50%; padding: 20px;">
        <img src="../../../assets/img/templates/logoCompleto.png"  class="img-fluid">
    </div>
    <div class="login-box">

        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Bienvenido</p>

                <form action="../../index3.html" method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Usuario">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn  btn-block  " style="background-color: red; color: white;">Iniciar Sesión</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

            </div>

            
            <!-- /.login-card-body -->
        </div>


    </div>
    <!-- /.login-box -->

</div>