<mat-dialog-content class="contendor">

    <div class="card mr-1" >

        <div class="card-header colorApp" >
            <h2 class=" card-title mb-0" >{{marca!= null ? 'Editar marca':'Nueva marca' }} </h2>
            <button type="button" class="close" mat-dialog-close>&times;</button>
        </div>


        <form autocomplete="off" [formGroup]="f" (ngSubmit)=" marca!= null ? editar(): guardar()" class="example-form">

            <div class="card-body">

                <ng-container *ngIf="!loadData">

                    <div class="form-group mb-1">
                                <!--  Marca -->
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label for="Inputmarca">Marca</mat-label>
                                    <input matInput type="text" id=" Inputmarca" class="form-control"
                                        placeholder="Marca" formControlName="marca"
                                        [ngClass]="{'is-invalid':invalidField('marca') ||
                                        marcas?.invalid && marcas?.errors?.['pattern'] || 
                                        marcas?.invalid && marcas?.errors?.['marcaRepetid'] }">
                                    <mat-icon matSuffix>directions_cars</mat-icon>
                                    <mat-error *ngIf="marcas?.invalid && marcas?.errors?.['required']">Escriba una marca</mat-error>
                                    <mat-error *ngIf="marcas?.invalid && marcas?.errors?.['pattern']"> Escriba correctamente el nombre</mat-error>
                                    <mat-error *ngIf="marcas?.invalid && marcas?.errors?.['marcaRepetid']"> La marca ya existe </mat-error>
                                
                                </mat-form-field>

                                <!--  Descripcion -->
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label for="Inputdescripcion">Descripción</mat-label>
                                    <input matInput type="text" id=" Inputdescripcion" class="form-control"
                                        placeholder="Descripción" formControlName="descripcion"
                                        [ngClass]="{'is-invalid':invalidField('descripcion') || descripcion?.invalid && descripcion?.errors?.['pattern']}">
                                    <mat-icon matSuffix>receipt</mat-icon>
                                    <mat-error *ngIf="descripcion?.invalid && descripcion?.errors?.['pattern']">
                                        Escribe correctamente el apellido</mat-error>
                                </mat-form-field>


                    </div>




                </ng-container>


                <div *ngIf="loadData" class="overlay">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>

                <div class="card-footer cardButon">
                    <button mat-dialog-close class="btn btn-danger "> Cerrar </button> | 
                    <button type="submit" class="btn colorApp "> Guardar </button>
                </div>

            </div>

                                            
            <div class="form-group text-center ">
                <mat-slide-toggle color="primary" [checked]="visible" (change)="activo($event)" > </mat-slide-toggle>

            </div>


        </form>

    </div>

</mat-dialog-content>