<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1> {{ venta?'Nueva Venta':'Nueva Cotización'}} </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"> <a [routerLink]="['/']">Inicio</a></li>
                        <li *ngIf="venta" class="breadcrumb-item  active "> <a [routerLink]="['/ventas']"> Ventas</a>
                        </li>
                        <li *ngIf="!venta" class="breadcrumb-item  active "> <a [routerLink]="['/cotizacion']">
                                Cotizaciones </a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <div class=" card card-danger ">
        <form autocomplete="off" [formGroup]="f" (ngSubmit)=" addDetalle()" class="example-form">
            <div class="card-body">
                <ng-container *ngIf="!loadData">

                    <div class="form-group ">
                        <div class="row mb-3">
                            <div class="col-12 col-lg-6 input-group mx-0 pr-0">
                                <!--Numero  -->
                                <mat-card class="example-full-width">
                                    <mat-card-content>
                                        <h2> N°: {{numeroFactura }} </h2>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="col-12 col-lg-6 input-group">
                                <!--   Fecha  -->
                                <mat-card class="example-full-width" style="text-align:right">
                                    <mat-card-content>
                                        <h2> Fecha: {{fecha | date:'dd/MM/yyyy' }} </h2>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>

                    <!--  Cliente -->
                    <div class="form-group border">
                        <h3> <strong> Datos Cliente </strong> </h3>
                        <div class="row mb-3">

                            <div class="col-12 col-lg-3 input-group mx-0 pr-0">
                                <!--  identificacion -->
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label for="InputIdentificacion">Identificación</mat-label>
                                    <input type="text" placeholder="Cédula/Ruc" maxlength="13" matInput
                                        [matAutocomplete]="auto"
                                        [ngClass]="{'is-invalid':invalidField('identificación')}"
                                        formControlName="identificacion" placeholder="Escriba cédula/RUC del cliente">
                                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                        <mat-option *ngFor="let cliente of filterOptions "
                                            value="{{cliente.cliIdentificacion }}">
                                            {{ cliente.cliIdentificacion }}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error
                                        *ngIf="identificacion?.invalid && identificacion?.errors?.['required']">Cédula /
                                        Ruc </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-lg-4 input-group mx-0 pr-0" style="height: 60px;">
                                <!--  nombre -->
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label for="InputNombres">Nombre</mat-label>
                                    <input matInput type="text" id="InputNombres" class="form-control" [value]="nombre"
                                        [disabled]="true">
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-lg-3 input-group mx-0 pr-0">
                                <!--  direccion -->
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label for="InputDireccion">Dirección</mat-label>
                                    <input matInput type="text" id="InputDireccion" class="form-control"
                                        [value]="direccion" [disabled]="true">
                                </mat-form-field>


                            </div>
                            <div class="col-12 col-lg-2 input-group mx-0 pr-0">
                                <!--  buscar cliente -->
                                <button type="button" mat-raised-button color="primary" (click)="buscarCliente()">
                                    <mat-icon>search</mat-icon> Buscar Cliente</button>
                            </div>
                        </div>
                    </div>



                    <div class="form-group border">
                        <h3> <strong> Búsqueda de Repuestos </strong> </h3>
                        <div class="row mb-3">

                            <div class="col-12 col-lg-10 input-group mx-0 pr-0">
                                <!--  repuesto -->
                                <mat-card class="example-full-width">
                                    <mat-card-content>
                                        <mat-label>Repuesto</mat-label>
                                        <p *ngIf="nombreRep == '' "> <mat-label style="color: #888;"> Selecione un
                                                repuesto </mat-label> </p>
                                        <h3 *ngIf="nombreRep != ''"> {{ nombreRep}} </h3>
                                    </mat-card-content>
                                </mat-card>

                            </div>

                            <div class="col-12 col-lg-2 input-group mx-0 pr-0">
                                <button type="button" mat-raised-button color="primary" (click)="buscarRepuesto()">
                                    <mat-icon>search</mat-icon> Buscar Repuesto</button>
                            </div>

                        </div>

                        <div class="row mb-2">
                            <!--  stock -->
                            <div class="col-12 col-lg-4 input-group " style="height: 60px;">
                                <mat-card class="example-full-width">
                                    <mat-card-content>
                                        <mat-label>Stock disponible: </mat-label> {{stockRep}}
                                    </mat-card-content>
                                </mat-card>
                            </div>

                            <div class="col-12 col-lg-3 input-group mx-0 pr-0">
                                <!--  cantidad -->
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label for="InputCantidad">Cantidad</mat-label>
                                    <input matInput required type="number" id="InputCantidad" class="form-control"
                                        min="1" formControlName="cantidad" [ngClass]="{'is-invalid':invalidField('cantidad') ||
                                        cantidad?.invalid && cantidad?.errors?.['stockBajo']
                                                                                            }">
                                    <mat-error *ngIf="cantidad?.hasError('required')">Ingrese la cantidad </mat-error>
                                    <mat-error *ngIf="cantidad?.invalid && cantidad?.errors?.['stockBajo']">
                                        La cantidad no está disponible</mat-error>
                                    <mat-error *ngIf="cantidad?.hasError('min')">Mínimo 1</mat-error>

                                </mat-form-field>
                            </div>

                            <div class="col-12 col-lg-3 input-group mx-0 pr-0">
                                <!--  precio -->
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label for="Inputprecio">Precio</mat-label>
                                    <mat-select formControlName="precio" required>
                                        <mat-option [value]=" tarjeta "> <b> Tarjeta: </b> {{ tarjeta | currency }}
                                        </mat-option>
                                        <mat-option [value]="efectivo"> <b>Efectivo: </b>{{ efectivo | currency }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="precio?.hasError('required')">Selecione el precio </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-lg-2 mx-0 pr-0 ">
                                <button mat-raised-button color="primary" style="width: 90%;" type="submit"> + Agregar
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group border ">
                        <table class="table ">
                            <tr>
                                <th style="text-align: left">Código</th>
                                <th style="text-align: left">Descripción</th>
                                <th>Almacén</th>
                                <th style="text-align: right">Cantidad</th>
                                <th style="text-align: right;">Precio</th>
                                <th style="text-align: right;">Total</th>
                                <th style="text-align: center">Acción</th>
                            </tr>

                            <tr *ngFor="let item  of detalle , let i= index">
                                <td style="text-align: left"> {{ item.ubicacion }} </td>
                                <td style="text-align: left"> {{ item.repuesto }} </td>
                                <td> {{ item.almacen }} </td>
                                <td style="text-align: right"> {{ item.detCantidad }} </td>
                                <td style="text-align: right;"> {{ item.detPrecio | currency }} </td>
                                <td style="text-align: right;"> {{ item.detTotal.toFixed(2) }} </td>
                                <td style="text-align: center">
                                    <button type="button" class="btn btn-sm mr-1 btn-danger"
                                        (click)="eliminarDetalle(i, item)">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align:right">SUBTOTAL </td>
                                <td style="text-align:right"> {{subtotal |currency }} </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align:right">DESCUENTO </td>
                                <td style="text-align:right"> {{descuentoTotal |currency }} </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align:right">IVA % </td>
                                <td style="text-align:right"> {{porcentajeIva}} </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align:right">VALOR IVA </td>
                                <td style="text-align:right"> {{valorIva | currency}} </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align:right"> <b> TOTAL </b></td>
                                <td style="text-align:right"> <b> {{total | currency}} </b> </td>
                            </tr>
                        </table>
                    </div>


                    <div class="form-group">
                        <div class="row mb-2">
                            <div class="col-12 col-lg-4 input-group mx-0 pr-0">
                                <mat-checkbox [formControl]="checkboxControl">Editable</mat-checkbox>
                            </div>

                            <div class="col-12 col-lg-3 input-group mx-0 pr-0">
                                <!--  MetodoPago -->
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label for="InputMetodoPago">Método Pago </mat-label>
                                    <mat-select [ngClass]="{'is-invalid':invalidField('metodoPago')}"
                                        formControlName="metodoPago" (selectionChange)="optMetodoPago($event.value)">
                                        <mat-option [value]="2"> Tarjeta </mat-option>
                                        <mat-option [value]="1"> Efectivo </mat-option>
                                    </mat-select>
                                    <mat-error class="invalid-feedback"> Seleccione una de las opciones </mat-error>
                                </mat-form-field>
                            </div>


                            <div class="col-12 col-lg-3 input-group mx-0 pr-0">
                                <!--  descuento -->
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label for="InputDescuento">% Descuento</mat-label>
                                    <input matInput type="number" min="1" max="99" id="InputDescuento"
                                        class="form-control" formControlName="descuento">
                                    <mat-error *ngIf="descuento?.hasError('min')">Descuento mínimo 1% </mat-error>
                                    <mat-error *ngIf="descuento?.hasError('max')">Descuento máximo 99% </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-lg-2 input-group mx-0 pr-0">
                                <button mat-raised-button color="primary" type="button" (click)="aplicaDescuento()">
                                    Aplicar descuento </button>
                                <button mat-raised-button color="accent" type="button" (click)="eliminarDescuento()">
                                    Eliminar descuento </button>
                            </div>

                        </div>
                        <small class="text-danger" >Antes de aplicar un nuevo descuento, por favor elimine el descuento actual. *</small>
                    </div>

                </ng-container>

                <div *ngIf="loadData" class="overlay">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>

            </div>

        </form>


    </div>


    <div class="cardButon">
        <button *ngIf="venta" mat-raised-button color="warn" [routerLink]="['/ventas']">Regresar</button>
        <button *ngIf="!venta" mat-raised-button color="warn" [routerLink]="['/cotizacion']">Regresar</button>
        | <button mat-raised-button *ngIf="venta" color="primary" (click)="guardar()" [disabled]="!f.valid">Guardar
        </button>
        | <button *ngIf="!venta" mat-raised-button class=" mr-3" (click)="cotizar()"
            [disabled]="!f.valid">Cotizar</button>

    </div>
</div>