/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table {
    width: 100%;
}

.mat-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
}

tr.example-detail-row {
    height: 0 !important;
}

.example-element-detail {
    overflow: hidden !important;
    display: flex !important;
}

.example-element-row td {
    border-bottom-width: 0 !important;
}

td.mat-cell {
    width: 200px; /* Ancho de la columna */
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el contenido que se desborda */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el contenido se desborda */
}

mat-dialog-content::-webkit-scrollbar{
    width: 6px !important;


}

mat-dialog-content::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 3px !important;
    border-radius: 5px !important;

}


.cdk-overlay-container{
    z-index: 2000 !important;

}

label{
    color: black;
    font-weight: 450 !important;
}

mat-label{
    font-size: 1em !important;
    color: rgba(36, 36, 36, 0.99);
    font-weight: 420 !important;
}

.colorApp {
    background: linear-gradient(to top, rgba(19, 31, 123, 0.912),#7896d3);
    /* background: rgba(19, 31, 123, 0.912);  */
    color: white;

}

.colorClaro{
    background: white;
}

.iconosClaro{
    color: white;
}

.cardButon{
    text-align: center;
}